<md-dialog aria-label="Delete Movie">
    <md-dialog-content class="md-dialog-content">
      <p class="dialog__delete">Are you sure to <span class="bold">delete</span> a movie : <span class="bold">"{{movieTitleToDelete}}"?</span></p>
    </md-dialog-content>
    <md-dialog-actions class="md-toolbar-delete" layout="row">
      <md-button ng-click="dialogHide()">
        No
      </md-button>
      <md-button ng-click="confirmedDeleteMovie()">
        Yes
      </md-button>
    </md-dialog-actions>
</md-dialog>
